<div class="tim-skills">
  <h3>Your Skills <button (click)="openModal()" class="btn btn-default btn-xs">Add</button></h3>

  <div class="flex-box">
    <div class="flex-item">
    </div>
    <div class="flex-item" *ngFor="let skill of skills"><span class="item-size-{{skill?.level}}">{{skill?.name}}</span></div>
  </div>

  <div bsModal #addSkillModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Add New Skill</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="addSkillModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #skillForm="ngForm" class="form-inline" method="post" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <input #focusInput type="text" class="form-control" placeholder="New Skill" id="skill-name" name="name" [(ngModel)]="model.name" required>
                  <select class="form-control" id="skill-level" name="level" [(ngModel)]="model.level" required>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
              </select>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group pull-right">
                  <button type="button" class="btn btn-link" (click)="onCancel()">Cancel</button>
                  <button type="submit" class="btn btn-primary" [disabled]="!skillForm.form.valid">Add</button>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>

</div>