@import "../../../assets/styles/colors";

.tim-skills {
    margin-top: 2rem;
    margin-bottom: 4rem;

    .skill-item:hover > button {
        visibility: visible !important;
    }

    .invisible {
        visibility: hidden !important;
    }

    .flex-box {
        display: flex;
        flex-flow: row wrap;

        .flex-item {
            padding: 0 2rem;
            color: $lightBlue;
        }
    }

    .item-size-1 {
        font-size: 1rem;
    }
    
    .item-size-2 {
        font-size: 2rem;
    }
    
    .item-size-3 {
        font-size: 3rem;
    }
    
    .item-size-4 {
        font-size: 4rem;
    }
    
    .item-size-5 {
        font-size: 5rem;
    }
    
    // ul {
    //     list-style-type: none;

    //     li {
    //         float: left;
    //     }
    // }
}