<div class="row">
  <div class="col-md-12">
      <h1>{{client?.first}} {{client?.last}}</h1>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <tim-skills [skills]="client?.skills" [canEdit]="true"></tim-skills>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <tim-profile-form [client]="client" [showCancelButton]="false" (submitRegistration)="submitForm($event)"></tim-profile-form>      
  </div>
  <div class="col-md-4">
    <tim-avatar [avatarUrl]="client?.avatar" (submitAvatar)="addAvatar($event)" [canEdit]="true"></tim-avatar>
  </div>
</div>
