<div class="tim-avatar">
  <img src="{{avatarUrl}}" alt="avatar" class="img-circle img-responsive">
  <div class="avatar-overlay text-center" (click)="showChildModal()">
    <i class="fa fa-pencil fa-3x"></i>
  </div>

  <div bsModal #childModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Choose Profile Image</h4>
          <button type="button" class="close pull-right" aria-label="Close" (click)="hideChildModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <form [formGroup]="avatarForm" action="index.html" method="post" (ngSubmit)="onSubmit()">
            <div class="form-group">
              <label for="avatarUrl">Add an image URL</label>
              <input type="text" placeholder="{{avatarUrl}}" name="avatarUrl" class="form-control" formControlName="avatarUrl">
            </div>

            <button type="button" name="button" class="btn" (click)="avatarForm.reset(); hideChildModal()">Cancel</button>
            <button [disabled]="avatarForm.invalid" type="submit" name="button" class="btn btn-primary">Submit</button>
          </form>

        </div>
      </div>
    </div>
  </div>


</div>