<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <form class="form-signin" #loginForm="ngForm" (ngSubmit)="login()">
        <h2 class="form-signin-heading">Please sign in</h2>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="inputUsername" class="sr-only">Username</label>
              <input #focusInput type="text" id="inputUsername" name="username" [(ngModel)]="formData.username" class="form-control" placeholder="Username"
                required autofocus>
            </div>
          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="inputPassword" class="sr-only">Password</label>
              <input type="password" id="inputPassword" name="password" [(ngModel)]="formData.password" class="form-control" placeholder="Password"
                required>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <!--<div class="checkbox">
                <label>
                  <input type="checkbox" value="remember-me"> Remember me
                </label>
              </div>-->
              <button class="btn btn-lg btn-primary btn-block" (click)="login()" type="submit">Sign in</button>
            </div>
          </div>
        </div>

      </form>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <a routerLink="/registration">Register</a>
    </div>
  </div>
</div>
<!-- /container -->